{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    <h2>Example Heading</h2>
    {% block model_menu_bar %}
    {% endblock %}

    {% include 'panels/logger.html' %}
    
    {% block model_list_table %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th class="column-header">Column A</th>
                <th class="column-header">Column B</th>
                <th class="column-header">Column C</th>
            </tr>
        </thead>

        {% for row in data %}
            <tr>
                <td>{{ row.column_a }}</td>
                <td>{{ row.column_b }}</td>
                <td>{{ row.column_c }}</td>
            </tr>
        {% endfor %}

    </table>
    {% endblock %}

{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ admin_static.url(filename='admin/js/filters.js') }}"></script>
    {{ lib.form_js() }}
{% endblock %}