{% if records %}
<table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th class="column-header">Level</th>
                <th class="column-header">Time</th>
                <th class="column-header">Message</th>
                <th class="column-header">Location</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.level }}</td>
            <td>{{ record.time }}</td>
            <td>{{ record.message }}</td>
            <td>{{ record.file }}:{{ record.line }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
{% else %}
	<p>No messages logged.</p>
{% endif %}